body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  width: 1440px;
  height: 1440px;
  left: 370px;
  top: -1169px;
  /*
  box-sizing:;
  display: ;
  align-items: ;
  padding: ;
  flex-direction: ;
  gap: ; 
  border-radius: ; 
  box-shadow order: ;
  flex-grow: ; 
  border-bottom: ;
  position: ; */
}


/* header */
.list {
  text-decoration: none;
  list-style-type: none;
}
.logo-web {
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
 
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.navigation {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.address {
  color: #434455;
  font-style:normal;
 font-size: 16px;
 line-height: 15;
 letter-spacing: 0.02em;
 font-family: Roboto;
 font-weight: 400; 
}

.address:hover,
.address:focus {
  color: #404bbf;
}

/* main section 1 */

.header {
  background-color: #2e2f42;
}

.h1 {
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #404BBF;
}

/*  друга секція */
.advantages-h2{
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.advantages-h3 {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.advantages-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

/*третя секція*/
.team-h2 {

}
.list-h2 {
  background-color: #FFFFFF;

}
.team-h3{
    color: #2e2f42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.team-text{
  color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}








/* footer */

.footer {
  background-color: #2e2f42;
}


.logo-studio-footer {
  color: #f4f4fd;
  line-height: 1.17;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
}

.text-footer {color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}